# R stuff
.Rproj.user
.Rhistory
.Rproj.user/*
./R/tests
./src/r/tests
.Rbuildignore
.httr-oauth
.DS_Store

# Data files
*.csv
*.xml

# Unpushed Scripts
other_scripts/*

# Other files
functions.html
inst/doc
/doc/
/Meta/
docs/
pkgdown/
docs
*.tex

# CRAN stuff
CRAN-SUBMISSION