# R stuff
.Rhistory
.Rproj.user/*
./R/tests
./src/r/tests
.Rbuildignore

# Data files
*.csv
*.xml
.Rproj.user
*.tex

# Unpushed Scripts
other_scripts/*

# Other files
functions.html
inst/doc
/doc/
/Meta/
docs/